

.myblock {
	padding-top: 10%;
}

.pubtitle {
	background-color: #c8e6c9; /*AECEEA*/
}

.slidetitle {
	background-color: #c8e6c9; /*FFC09F*/
}

.ongoingtitle {
	background-color: #c8e6c9; /*FFEE93*/
}

.teachingtitle {
	background-color: #c8e6c9; /*FFB7FF*/
}


.studytitle {
	background-color: #c8e6c9; /*ADF7B6*/
}

.news {
  padding: 5% 14% 0% 13%;
}

.toTop {
	width: 1.5%;
	transform: rotate(180deg);
	}



/* Sticky footer styles from Bootstrap  <http://getbootstrap.com/docs/4.1/examples/sticky-footer/>
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

a {
	text-decoration: none;
	color: #737373;

}

a:visited {
    color: #737373;
    text-decoration: none;
}

a:hover {
    color: #737373;
    text-decoration: underline;
}

a:active {
    color: #737373;
    text-decoration: underline;
}

.nav-link {
color: white !important; 
}

.navbar-brand {
color: #c8e6c9 !important; 
}
